<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>kickstarter</display-name>
	<servlet>
		<display-name>QuoteServlet</display-name>
		<servlet-name>QuoteServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuoteServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>CategoriesServlet</display-name>
		<servlet-name>CategoriesServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoriesServlet</servlet-name>
		<url-pattern>/categories</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ProjectsServlet</display-name>
		<servlet-name>ProjectsServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectsServlet</servlet-name>
		<url-pattern>/projects</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ProjectServlet</display-name>
		<servlet-name>ProjectServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/project</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AskQuestionServlet</display-name>
		<servlet-name>AskQuestionServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AskQuestionServlet</servlet-name>
		<url-pattern>/ask_question</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AskQuestionSubmitServlet</display-name>
		<servlet-name>AskQuestionSubmitServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AskQuestionSubmitServlet</servlet-name>
		<url-pattern>/ask_question_submit</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DonateServlet</display-name>
		<servlet-name>DonateServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonateServlet</servlet-name>
		<url-pattern>/donate</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DonateSubmitServlet</display-name>
		<servlet-name>DonateSubmitServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonateSubmitServlet</servlet-name>
		<url-pattern>/donate_submit</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>