<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>kickstarter</display-name>
	<servlet>
		<display-name>quoteServlet</display-name>
		<servlet-name>quoteServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>quoteServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>categoriesServlet</display-name>
		<servlet-name>categoriesServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>categoriesServlet</servlet-name>
		<url-pattern>/categories</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>projectsServlet</display-name>
		<servlet-name>projectsServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>projectsServlet</servlet-name>
		<url-pattern>/projects</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>projectServlet</display-name>
		<servlet-name>projectServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>projectServlet</servlet-name>
		<url-pattern>/project</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>askQuestionServlet</display-name>
		<servlet-name>askQuestionServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>askQuestionServlet</servlet-name>
		<url-pattern>/ask_question</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>askQuestionSubmitServlet</display-name>
		<servlet-name>askQuestionSubmitServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>askQuestionSubmitServlet</servlet-name>
		<url-pattern>/ask_question_submit</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>donateServlet</display-name>
		<servlet-name>donateServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>donateServlet</servlet-name>
		<url-pattern>/donate</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>donateSubmitServlet</display-name>
		<servlet-name>donateSubmitServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>donateSubmitServlet</servlet-name>
		<url-pattern>/donate_submit</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>