body {
	background-color: #ffffff;
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", Verdana, "Verdana CE", sans-serif;
	color: #200070;
	margin: 10px;
}

h1 {
	text-align: center;
	color: #200070;
}

.floatLeft {
	float: left;
}

.selCtl {
	background-color: lightgrey;
}

#page {
	width: 800px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 100px;
	margin-bottom: 16px;
}

#menu {
	width: 100%;
	height: 30px;
	margin-bottom: 16px;
}

#content {
	width: 100%;
	height: 200px;
	margin-right: 16px;
	margin-bottom: 16px;
}

#footer {
	width: 100%;
	height: 100px;
}