<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- List of XML mapping files -->
		<mapping resource="\hibernate\quote.hbm.xml" />
		<mapping resource="\hibernate\category.hbm.xml" />
		<mapping resource="\hibernate\project.hbm.xml" />
		<mapping resource="\hibernate\payment.hbm.xml" />
		<mapping resource="\hibernate\paymentVariant.hbm.xml" />
		<mapping resource="\hibernate\question.hbm.xml" />
	</session-factory>
</hibernate-configuration>
