<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<import resource="classpath:hibernate-context.xml" />

	<bean id="QuoteServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="QuoteView" />
		<constructor-arg ref="QuoteModel" />
	</bean>
	<bean id="CategoriesServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="CategoriesView" />
		<constructor-arg ref="CategoriesModel" />
	</bean>
	<bean id="ProjectsServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="ProjectsView" />
		<constructor-arg ref="ProjectsModel" />
	</bean>
	<bean id="ProjectServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="ProjectView" />
		<constructor-arg ref="ProjectModel" />
	</bean>
	<bean id="AskQuestionServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="AskQuestionView" />
		<constructor-arg ref="AskQuestionModel" />
	</bean>
	<bean id="AskQuestionSubmitServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="AskQuestionSubmitView" />
		<constructor-arg ref="AskQuestionSubmitModel" />
	</bean>
	<bean id="DonateServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="DonateView" />
		<constructor-arg ref="DonateModel" />
	</bean>
	<bean id="DonateSubmitServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="DonateSubmitView" />
		<constructor-arg ref="DonateSubmitModel" />
	</bean>

	<bean id="QuoteView" class="kickstarter.view.JspView">
		<constructor-arg value="/Quote.jsp" />
	</bean>
	<bean id="CategoriesView" class="kickstarter.view.JspView">
		<constructor-arg value="/Categories.jsp" />
	</bean>
	<bean id="ProjectsView" class="kickstarter.view.JspView">
		<constructor-arg value="/Projects.jsp" />
	</bean>
	<bean id="ProjectView" class="kickstarter.view.JspView">
		<constructor-arg value="/Project.jsp" />
	</bean>
	<bean id="AskQuestionView" class="kickstarter.view.JspView">
		<constructor-arg value="/AskQuestion.jsp" />
	</bean>
	<bean id="AskQuestionSubmitView" class="kickstarter.view.JspView">
		<constructor-arg value="/AskQuestionSubmit.jsp" />
	</bean>
	<bean id="DonateView" class="kickstarter.view.JspView">
		<constructor-arg value="/Donate.jsp" />
	</bean>
	<bean id="DonateSubmitView" class="kickstarter.view.JspView">
		<constructor-arg value="/DonateSubmit.jsp" />
	</bean>

	<bean id="QuoteModel" class="kickstarter.model.QuoteModel"
		autowire="byName" />
	<bean id="CategoriesModel" class="kickstarter.model.CategoriesModel"
		autowire="byName" />
	<bean id="ProjectsModel" class="kickstarter.model.ProjectsModel"
		autowire="byName" />
	<bean id="ProjectModel" class="kickstarter.model.ProjectModel"
		autowire="byName" />
	<bean id="AskQuestionModel" class="kickstarter.model.AskQuestionModel"
		autowire="byName" />
	<bean id="AskQuestionSubmitModel" class="kickstarter.model.AskQuestionSubmitModel"
		autowire="byName" />
	<bean id="DonateModel" class="kickstarter.model.DonateModel"
		autowire="byName" />
	<bean id="DonateSubmitModel" class="kickstarter.model.DonateSubmitModel"
		autowire="byName" />
</beans>