<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="QuoteServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="QuoteView" />
		<constructor-arg ref="QuoteModel" />
	</bean>
	<bean id="CategoriesServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="CategoriesView" />
		<constructor-arg ref="CategoriesModel" />
	</bean>
	<bean id="ProjectsServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="ProjectsView" />
		<constructor-arg ref="ProjectsModel" />
	</bean>
	<bean id="ProjectServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="ProjectView" />
		<constructor-arg ref="ProjectModel" />
	</bean>
	<bean id="AskQuestionServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="AskQuestionView" />
		<constructor-arg ref="AskQuestionModel" />
	</bean>
	<bean id="AskQuestionSubmitServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="AskQuestionSubmitView" />
		<constructor-arg ref="AskQuestionSubmitModel" />
	</bean>
	<bean id="DonateServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="DonateView" />
		<constructor-arg ref="DonateModel" />
	</bean>
	<bean id="DonateSubmitServlet" class="kickstarter.Kickstarter">
		<constructor-arg ref="DonateSubmitView" />
		<constructor-arg ref="DonateSubmitModel" />
	</bean>

	<bean id="QuoteView" class="kickstarter.view.QuoteView" />
	<bean id="CategoriesView" class="kickstarter.view.CategoriesView" />
	<bean id="ProjectsView" class="kickstarter.view.ProjectsView" />
	<bean id="ProjectView" class="kickstarter.view.ProjectView" />
	<bean id="AskQuestionView" class="kickstarter.view.AskQuestionView" />
	<bean id="AskQuestionSubmitView" class="kickstarter.view.AskQuestionSubmitView" />
	<bean id="DonateView" class="kickstarter.view.DonateView" />
	<bean id="DonateSubmitView" class="kickstarter.view.DonateSubmitView" />

	<bean id="QuoteModel" class="kickstarter.model.QuoteModel">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="CategoriesModel" class="kickstarter.model.CategoriesModel">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="ProjectsModel" class="kickstarter.model.ProjectsModel">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="ProjectModel" class="kickstarter.model.ProjectModel">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="AskQuestionModel" class="kickstarter.model.AskQuestionModel">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="AskQuestionSubmitModel" class="kickstarter.model.AskQuestionSubmitModel">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="DonateModel" class="kickstarter.model.DonateModel">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="DonateSubmitModel" class="kickstarter.model.DonateSubmitModel">
		<property name="dao" ref="dao" />
	</bean>

	<bean id="dao" class="kickstarter.dao.DAOImpl">
		<constructor-arg ref="QuotesDAO" />
		<constructor-arg ref="CategoriesDAO" />
		<constructor-arg ref="ProjectsDAO" />
		<constructor-arg ref="QuestionsDAO" />
		<constructor-arg ref="PaymentsDAO" />
	</bean>

	<bean id="QuotesDAO" class="kickstarter.dao.sub.QuotesDAOImpl">
		<constructor-arg ref="ConnectionPool" />
	</bean>
	<bean id="CategoriesDAO" class="kickstarter.dao.sub.CategoriesDAOImpl">
		<constructor-arg ref="ConnectionPool" />
	</bean>
	<bean id="ProjectsDAO" class="kickstarter.dao.sub.ProjectsDAOImpl">
		<constructor-arg ref="ConnectionPool" />
	</bean>
	<bean id="QuestionsDAO" class="kickstarter.dao.sub.QuestionsDAOImpl">
		<constructor-arg ref="ConnectionPool" />
	</bean>
	<bean id="PaymentsDAO" class="kickstarter.dao.sub.PaymentsDAOImpl">
		<constructor-arg ref="ConnectionPool" />
	</bean>

	<bean id="ConnectionPool" class="kickstarter.dao.connection.ConnectionPoolImpl" />

	<bean id="Quote" class="kickstarter.entity.Quote" scope="prototype" />
	<bean id="Category" class="kickstarter.entity.Category" scope="prototype" />
	<bean id="Project" class="kickstarter.entity.Project" scope="prototype" />
	<bean id="PaymentVariant" class="kickstarter.entity.PaymentVariant"
		scope="prototype" />
</beans>