<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="ModelFactory" class="kickstarter.model.factory.ModelFactoryImpl"
		scope="singleton" />

	<bean id="ViewFactory" class="kickstarter.view.factory.ViewFactoryImpl"
		scope="singleton" />

	<bean id="Executor" class="kickstarter.control.executor.ExecutorImpl"
		scope="singleton">
		<constructor-arg ref="ModelFactory" />
		<constructor-arg ref="ViewFactory" />
	</bean>

	<bean id="QuoteView" class="kickstarter.view.QuoteView" scope="prototype" />
	<bean id="CategoriesView" class="kickstarter.view.CategoriesView"
		scope="prototype" />
	<bean id="ProjectsView" class="kickstarter.view.ProjectsView"
		scope="prototype" />
	<bean id="ProjectView" class="kickstarter.view.ProjectView" scope="prototype" />
	<bean id="AskQuestionView" class="kickstarter.view.AskQuestionView"
		scope="prototype" />
	<bean id="AskQuestionSubmitView" class="kickstarter.view.AskQuestionSubmitView"
		scope="prototype" />
</beans>