<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<import resource="classpath:hibernate-context.xml" />

	<bean id="quoteService" class="kickstarter.service.QuoteService"
		autowire="byName" />
	<bean id="categoryService" class="kickstarter.service.CategoryService"
		autowire="byName" />
	<bean id="projectService" class="kickstarter.service.ProjectService"
		autowire="byName" />
	<bean id="askQuestionModel" class="kickstarter.model.AskQuestionModel"
		autowire="byName" />
	<bean id="askQuestionSubmitModel" class="kickstarter.model.AskQuestionSubmitModel"
		autowire="byName" />
	<bean id="donateModel" class="kickstarter.model.DonateModel"
		autowire="byName" />
	<bean id="donateSubmitModel" class="kickstarter.model.DonateSubmitModel"
		autowire="byName" />
</beans>